
[action_longuiDrunkenRush]
isLocked: if self.tags(includes='isDrunk')
iconImage:ROOT:\data\images\platedPlus.png
displayType:action
whenBuilding_cannotMove:true
ai_isDisabled:true
price: Wine=15
setUnitStats: moveSpeed+=0.4
addResources: localWine=5
temporarilyAddTags:DrunkenRush
spawnEffects: CUSTOM:gettingDrunk
text: Drunken Rush
description: -Consumes wine to temporarily increase movespeed greatly\n -Once the effect dissipates the unit will become exhausted
buildSpeed: 0s
addActionCooldownTime: 30s
pos: 1

[hiddenAction_longuiDrunkenRushOff]
autoTrigger: if self.resource(type='localWine', lessThan=1) and self.tags(includes='DrunkenRush')
temporarilyRemoveTags:DrunkenRush
setUnitStats: moveSpeed-=0.4

[effect_gettingDrunk]
alsoPlaySound:ROOT:\data\soundFx\flameThrower.ogg
fadeInTime:10
alwayStartDirAtZero:true
attachedToUnit: true
life: 30
alpha: 1
image: ROOT:\data\images\auraWine.png
priority: high
drawUnderUnits:true
scaleFrom:0.5
scaleTo: 1.5